       Name
        <input type="text" name ng-model="name">
        </input><br>
       Address
        <input type="text" name ng-model="addr">
        </input><br>
       Age
        <input type="text" name ng-model="age">
        </input><br>
       Mobile
        <input type="text" address ng-model="mob">
        </input><br>
       DOB
        <input type="text" address ng-model="dob">
        </input><br>         
     
     <button ng-click="addd()" >add</button><br><br><br>
 

   <a href="#disp">display the employees</a><br>
   <a href="#search">searchemployee puta</a><br>
   <a href="#update">update</a><br>
      
