Search Here
        <input type="text" name ng-model="searchitem">
        </input>

     <button ng-click="searching()" >submit</button>{{mess3}}<br><br><br> 
           
       Name
        <input type="text" name ng-model="students[0].name">
        </input><br>
       Address
        <input type="text" name ng-model="students[0].addr">
        </input><br>
       Age
        <input type="text" name ng-model="students[0].age">
        </input><br>
       Mobile
        <input type="text" address ng-model="students[0].mob">
        </input><br>
       DOB
        <input type="text" address ng-model="students[0].dob">
        </input><br>      
      
{{students[0].id}}

<br><br><br>

     <button ng-click="updating()" >update</button><br><br><br>

 <a href="#disp">display</a><br>
 <a href="#search">searchemployee</a><br> 

