<h2>Please Enter the following details</h2>
<div class="form-group">
    <div class="col-xs-4">
        <label>Is A Police Officer</label>
        <div class="radio-inline">
            <label><input type="radio" name="optradio">Yes</label>
        </div>
        <div class="radio-inline">
            <label><input type="radio" name="optradio">No</label>
        </div> <br><br>
        <label for="FName">First Name</label>
        <input type="text" class="form-control" id="FName" ng-model="name">

        <label for="LName">Last Name</label>
        <input type="text" class="form-control" id="LName" ng-model="lastname">

        <label for="LoginName">Login Name</label>
        <input type="text" class="form-control" id="LoginName" ng-model="loginName">

        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" ng-model="password">

        <label for="EmailId">EmailId</label>
        <input type="text" class="form-control" id="EmailId" ng-model="email">
        <br><br>
        <button type="button" class="btn btn-success" ng-click="add()">Submit</button>
    </div>
</div>
{{chutiya}}