<h2>Please Enter the Details of Flank details for the Below Hostel</h2>
<div class="form-group">
    <div class="col-xs-4">
        <label>First Name</label>{{hostel.hostelName}}<br>
        <label>Id</label>{{hostel.id}}
    </div>
</div>
<div class="form-group">
    <div class="col-xs-4">
        <label for="FName">Flank Name</label>
        <input type="text" class="form-control" id="FName" ng-model="name">
        <br><br>
        <button type="button" class="btn btn-success" ng-click="add()">Submit</button>
    </div>
</div>
