<h2>Please Enter the Details of Flank details for the Below Hostel</h2>
<div class="form-group">
    <div class="col-xs-4">
        <label>First Name</label>{{hostel.hostelName}}<br>
        <label>Id</label>{{hostel.id}}
    </div>
</div>
<div class="form-group">
    <div class="col-xs-4">
        <label for="FName">Flank Name</label>
        <input type="int" class="form-control" id="FName" ng-model="name">
        <label for="Rooms">No of rooms</label>
        <input type="int" class="form-control" id="Rooms" ng-model="room">
        <label for="Columns">No of Columns</label>
        <input type="int" class="form-control" id="Columns" ng-model="cols">
        <label for="StudentPerRoom">StudentPerRoom</label>
        <input type="int" class="form-control" id="StudentPerRoom" ng-model="student">
        <br><br>
        <button type="button" class="btn btn-success" ng-click="add()">Submit</button>
    </div>
</div>
