<div class="container">
    <h2>Button Styles</h2>
    <button type="button" class="btn btn-default">Default</button>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-link">Link</button>
</div>

<div class="container">
    <h2>Dropdowns</h2>
    <p>The .dropdown class is used to indicate a dropdown menu.</p>
    <p>Use the .dropdown-menu class to actually build the dropdown menu.</p>
    <p>To open the dropdown menu, use a button or a link with a class of .dropdown-toggle and data-toggle="dropdown".</p>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <h2>Simple Collapsible</h2>
    <p>Click on the button to toggle between showing and hiding content.</p>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Simple collapsible</button>
    <div id="demo" class="collapse in">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
</div>

<div class="container">
           <h2>Hover Rows</h2>
           <p>The .table-hover class enables a hover state on table rows:</p>
           <table class="table table-hover">
               <thead>
               <tr>
                   <th>Firstname</th>
                   <th>Lastname</th>
                   <th>Email</th>
               </tr>
               </thead>
               <tbody>
               <tr>
                   <td>John</td>
                   <td>Doe</td>
                   <td>john@example.com</td>
               </tr>
               <tr>
                   <td>Mary</td>
                   <td>Moe</td>
                   <td>mary@example.com</td>
               </tr>
               <tr>
                   <td>July</td>
                   <td>Dooley</td>
                   <td>july@example.com</td>
               </tr>
               </tbody>
           </table>
       </div>



       Name
       <input type="text" name ng-model="name">
       </input><br>
       Address
       <input type="text" name ng-model="addr">
       </input><br>
       Age
       <input type="text" name ng-model="age">
       </input><br>
       Mobile
       <input type="text" address ng-model="mob">
       </input><br>
       DOB
       <input type="text" address ng-model="dob">
       </input><br>

       <button ng-click="addd()" >add</button><br><br><br>

       <div class="container">
           <h2>Alerts</h2>
           <div class="alert alert-success">
               <strong>Success!</strong> This alert box could indicate a successful or positive action.
           </div>
           <div class="alert alert-info">
               <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
           </div>
           <div class="alert alert-warning">
               <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
           </div>
           <div class="alert alert-danger">
               <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
           </div>
       </div>

   <a href="#disp">display employees</a><br>
   <a href="#search">search employee</a><br>
   <a href="#update">update employee</a><br>
      
