<div class="container">
    <h3>Inline List</h3>
    <ul class="list-inline">
        <li><a href="#disp">display</a></li>
        <li><a href="#update">update</a></li>
        <li><a href="#emp">addemployee</a></li>
    </ul>
</div>

Search Here
        <input type="text" name ng-model="searchitem">
        </input><br>

     <button ng-click="searching()" >submit</button> 

 <li ng-repeat="student in students">
    {{student.name}}
    {{student.addr}}
    {{student.age}}
    {{student.mob}}
    {{student.dob}}
 </li>