Search Here
        <input type="text" name ng-model="searchitem">
        </input>

     <button ng-click="searching()" >submit</button>{{mess3}}<br><br><br> 
           
       Name
        <input type="text" name ng-model="students[0].name">
        </input><br>
       Address
        <input type="text" name ng-model="students[0].addr">
        </input><br>
       Age
        <input type="text" name ng-model="students[0].age">
        </input><br>
       Mobile
        <input type="text" address ng-model="students[0].mob">
        </input><br>
       DOB
        <input type="text" address ng-model="students[0].dob">
        </input><br>      
      
{{students[0].id}}
 <button ng-click="updating()" >update</button><br><br><br>

 <a href="#disp">display</a><br>
 <a href="#search">searchemployee</a><br>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<h3>Who Am I?</h3>
<img src="bird.jpg" alt="Bird">
<h3>I'm an adventurer</h3>

</body>
</html>


